@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Young+Serif&display=swap");
body {
  font-family: "Inter", sans-serif;
}

.bg-grizzly-red {
  background-color: #b21b20;
}

h1 {
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
h2 {
  font-size: 54px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h5 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 24px */
}

.text-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /* H 5 Regular */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.small {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-orange {
  color: #f47b20;
}

.redBtn {
  border-radius: 59px;
  background: #b21b20;
  box-shadow: 0px 8px 12px 0px rgba(178, 27, 32, 0.24);
  display: flex;
  height: 60px;
  padding: 16px 31px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.orangeBtn {
  border-radius: 59px;
  background: var(
    --Button,
    linear-gradient(145deg, #ee3524 -81.34%, #f47b20 111.6%)
  );
  box-shadow: 0px 8px 12px 0px rgba(178, 27, 32, 0.24);
  display: flex;
  height: 60px;
  padding: 16px 31px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.border-orange {
  border-style: solid;
  border-color: #f7941d;
}
.box {
  fill: #fff;
  border: 0.496px solid #e8ecef;
  box-shadow: 0px 0px 1px rgba(231, 236, 239, 0.5);
}

.fadeOut {
  webkit-animation: fadeOut 13s both;
  animation: fadeOut 1.2s both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
}

/* .fadeOut {
  background-color: red;
} */

/**carousel**/

/**sealLogo**/
.sealLogo {
  position: absolute;
  top: -110px;
}
